name: Linux CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04
    env: 
      SDK_VERSION: 1.3.243
    
    steps:
    - uses: actions/checkout@v2
    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get install curl unzip tar libxi-dev libxinerama-dev libxcursor-dev xorg-dev
    - name: Install Vulkan SDK
      run: |
        wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
        sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-${SDK_VERSION}-jammy.list http://packages.lunarg.com/vulkan/${SDK_VERSION}/lunarg-vulkan-${SDK_VERSION}-jammy.list
        sudo apt-get update
        sudo apt-get install vulkan-sdk
    - name: Compile vcpkg dependencies
      run: ./vcpkg_linux.sh
    - name: Compile raytracer
      run: ./build_linux.sh
